@page "/"

<PageTitle>Microsoft Developer Korea</PageTitle>

<h1 class="text-xxl-center">Microsoft Developer Korea</h1>

<p class="text-lg-center">Microsoft Azure를 중심으로 기초부터 고급까지 다양한 주제를 라이브로 다룹니다</p>

<Playlist Title="Light Up Azure" Name="light-up-azure" />
